
TD1/HttpListener/.vs/HttpListener/v16/Server/sqlite3/db.lock
TD1/HttpListener/.vs/HttpListener/v16/Server/sqlite3/storage.ide
TD1/HttpListener/.vs/HttpListener/v16/Server/sqlite3/storage.ide-shm
TD1/HttpListener/.vs/HttpListener/v16/Server/sqlite3/storage.ide-wal
*.lock
TD2/.vs/BasicExamplesTP2/v16/.suo
TD2/.vs/BasicExamplesTP2/v16/.suo
TD1/HttpListener/.vs/HttpListener/v16/.suo
*.ide-wal
*.ide-shm
